<footer class="rodape">
        <div class="redes_sociais">
            <p>Redes sociais</p>
            <a href="#">
                <img class="logo__redes_sociais" src="http://localhost:4200/img/facebook-50.png" alt="Logo do Facebook">
            </a>
            <a href="https://www.youtube.com/@fordbrasil">
                <img class="logo__redes_sociais" src="http://localhost:4200/img/youtube-squared-50.png" alt="Logo do YouTube">
            </a>
            <a href="#">
                <img class="logo__redes_sociais" src="http://localhost:4200/img/instagram-logo-50.png" alt="Logo do Instagram">
            </a>
        </div>

        <p>&copy; 2025 Desafio Sprint.</p>

        <div class="rodape__imagem">
            <img src="http://localhost:4200/img/ford-96.png" alt="Logo da Ford">
        </div>
    </footer>