<footer class="rodape">
        <div class="redes_sociais">
            <p>Redes sociais</p>
            <a href="https://www.facebook.com/FordBrasil/?locale=pt_BR">
                <img class="logo__redes_sociais" src="https://api-fordenter-qstj.onrender.com/img/facebook-50.png" alt="Logo do Facebook">
            </a>
            <a href="https://www.youtube.com/@fordbrasil">
                <img class="logo__redes_sociais" src="https://api-fordenter-qstj.onrender.com/img/youtube-squared-50.png" alt="Logo do YouTube">
            </a>
            <a href="https://www.instagram.com/fordbrasil/">
                <img class="logo__redes_sociais" src="https://api-fordenter-qstj.onrender.com/img/instagram-logo-50.png" alt="Logo do Instagram">
            </a>
        </div>

        <p>&copy; 2025 FordEnter.</p>

    </footer>