<app-menu></app-menu>

<div>
            <ul class="modelcars">
                <li> 
                    <img src="http://localhost:4200/img/XL_Cabine.png" class="photocar">
                    <div class="infocar">
                        <div>
                            <input type="checkbox" value="car1" class="checkbox" onchange="SetCarToCompare(this, new Car('XL Cabine Simples 2.2 Diesel 4X4 MT 2022', 183850, 511, 1821, 232, 1234, 2.2, 160, 1420, 'Aço Estampado 16', 'img/XL Cabine.jpg'));">
                        </div>
                        <div class="info">
                            <span class="textmodel">XL Cabine Simples 2.2 Diesel 4X4 MT 2022</span>
                            <span class="textprice">Preço Sugerido: R$ 183.850</span>
                        </div>
                        
                    </div>
                </li>
                <li>
                    <img src="http://localhost:4200/img/xls2.2.png" class="photocar">
                    <div class="infocar">
                        <div>
                            <input type="checkbox" value="car1" class="checkbox" onchange="SetCarToCompare(this, new Car('XLS 2.2 Diesel 4X4 AT 2022', 220690, 511, 1821, 232, 1076, 2.2, 160, 1180, 'Aço Estampado 16', 'img/xls 2.2 diesel.jpg'));">
                        </div>
                        <div class="info">
                            <span class="textmodel">XLS 2.2 Diesel 4X4 AT 2022</span>
                            <span class="textprice">Preço Sugerido: R$ 220.690</span>
                        </div>
                        
                    </div>
                </li>
                <li>
                    <img src="http://localhost:4200/img/storm.png" class="photocar">
                    <div class="infocar">
                        <div>
                            <input type="checkbox" value="car1" class="checkbox" onchange="SetCarToCompare(this, new Car('Storm 3.2 Diesel 4X4 AT 2022', 222790, 511, 1821, 232, 1040, 3.2, 200, 1180, 'Liga Leve 17', 'img/storm.jpg'));">
                        </div>
                        <div class="info">
                            <span class="textmodel">Storm 3.2 Diesel 4X4 AT 2022</span>
                            <span class="textprice">Preço Sugerido: R$ 222.790</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div style="text-align: center;padding-bottom: 20px;">
            <button type="button" style="height: 40px; width: 200px;" onclick="ShowCompare()">Comparar Carros</button>
        </div> 
