/* Header e navegação */
.header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    gap: 90%;
    background-color: #1b357e;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: none;
    border: none;
    cursor: pointer;
}

.header .navbar .menu-icon span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 2px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
}

/* Menu lateral retrátil */
.offcanvas {
    width: 250px;
    height: 10px;
    background-color: #e6e4e4;
}

.offcanvas .close-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #d4d4d4;
}

.offcanvas .offcanvas-header {
    padding: 16px;
}

.offcanvas .offcanvas-title {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.offcanvas .offcanvas-body {
    padding: 16px;
}

.offcanvas .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.offcanvas .navbar-nav .nav-item {
    margin-bottom: 10px;
}

.offcanvas .navbar-nav .nav-link {
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 8px 0;
    display: block;
}

.botao-saida{
  width: 50%;
  height: 40px;
  margin: 20px;
  border-radius: 5px;
  background-color: rgb(9, 9, 169);
  color: white;
  margin-top: 240px;
}

.botao-saida:hover {
  background-color: rgb(7, 7, 120);
}

.logo{
  width: 3%;
  height: 45px;
  padding: 5px 15px 0 0;
}


/*RESPONSIVIDADE*/

@media (max-width: 400px) {
    .header{
        width: 100%;
        gap: 55%;
    }
    #offcanvasNavbar {
        height: 1080px;
        top: 0px;
        width: 200px;
    }

    .offcanvas .offcanvas-title {
        font-size: 20px;
    }

    .offcanvas .navbar-nav .nav-link {
        font-size: 16px;
    }

    .botao-saida {
        font-size: 13px;
        height: 34px;
        margin-top: 160%;
    }
    .logo{
        width: 30%;
        height: 50px;
    }
}

@media (max-width: 500px){
    .header {
        width: 100vw;
        gap: 60%;
    }
    #offcanvasNavbar {
        height: 1080px;
        top: 0px;
        width: 200px;
    }

    .offcanvas .offcanvas-title {
        font-size: 20px;
    }

    .offcanvas .navbar-nav .nav-link {
        font-size: 16px;
    }

    .botao-saida {
        font-size: 13px;
        height: 34px;

    }
    .logo{
        width: 30%;
        height: 50px;
    }
}

@media (max-width: 800px){
    .header {
        width: 100vw;
        gap: 70%;
    }
    #offcanvasNavbar {
        height: 1080px;
        top: 0px;
        width: 200px;
    }

    .offcanvas .offcanvas-title {
        font-size: 20px;
    }

    .offcanvas .navbar-nav .nav-link {
        font-size: 16px;
    }

    .botao-saida {
        font-size: 13px;
        height: 34px;

    }
    .logo{
        width: 25%;
        height: 60px;
    }
}

@media (max-width: 900px){
    .header {
        width: 100%;
        gap: 70%;
    }
    #offcanvasNavbar {
        height: 100vh;
        top: 0px;
        width: 250px;
    }

    .offcanvas .offcanvas-title {
        font-size: 20px;
    }

    .offcanvas .navbar-nav .nav-link {
        font-size: 25px;
    }

    .botao-saida {
        font-size: 20px;
        height: 40px;
        width: 60%;
        margin-top: 600px;

    }
    .logo{
        width: 20%;
        height: 60px;
    }
}

@media (max-width: 1024px){
    .header {
        width: 100%;
        gap: 75%;
    }
    #offcanvasNavbar {
        height: 100vh;
        top: 0px;
        width: 250px;
    }

    .offcanvas .offcanvas-title {
        font-size: 20px;
    }

    .offcanvas .navbar-nav .nav-link {
        font-size: 25px;
    }

    .botao-saida {
        font-size: 20px;
        height: 40px;
        width: 60%;
        margin-top: 600px;

    }
    .logo{
        width: 15%;
        height: 50px;
    }
}

@media (max-width: 1280px){
    .header {
        width: 100%;
        gap: 85%;
    }
    #offcanvasNavbar {
        height: 100vh;
        top: 0px;
        width: 250px;
    }

    .offcanvas .offcanvas-title {
        font-size: 20px;
    }

    .offcanvas .navbar-nav .nav-link {
        font-size: 25px;
    }

    .botao-saida {
        font-size: 20px;
        height: 40px;
        width: 60%;
        margin-top: 400px;

    }
    .logo{
        width: 10%;
        height: 40px;
    }
}