.header{
    background-color: #efefef;
}

main {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Ocupa a altura total da tela */
    padding: 0;
    margin: 0;
    background-color: #efefef;
}

.imagem {
    position: relative;
    width: 1000px;
    max-width: 1280px; /* Limita a largura máxima */
    text-align: center; /* Centraliza o conteúdo dentro da imagem */
    margin-bottom: 90px;
}

.imagem .imagem-fundo {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

.imagem .caixa-mensagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(128, 128, 128, 0.4); /* Cinza claro com alta transparência */
    padding: 20px;
    width: 90%; /* Largura da caixa de mensagem */
    height: 100%;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imagem .caixa-mensagem .titulo {
    color: rgb(7, 7, 120);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: #333 solid 2px; /* Borda inferior */
    text-align: left;
}

.imagem .caixa-mensagem .texto {
    font-size: 20px;
    color: rgb(52, 121, 218);
    font-weight: bold;
    text-align: left;
}

/* RESPONSIVIDADE */

/* Monitores ultrawide e 4K */
@media (min-width: 1601px) {
  .imagem {
    width: 1100px;
  }

  .imagem .caixa-mensagem .titulo {
    font-size: 34px;
  }

  .imagem .caixa-mensagem .texto {
    font-size: 24px;
  }
}

/* Laptops e desktops padrão */
@media (max-width: 1200px) {
  .imagem {
    width: 90%;
  }

  .imagem .caixa-mensagem .titulo {
    font-size: 28px;
  }

  .imagem .caixa-mensagem .texto {
    font-size: 18px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .imagem {
    width: 95%;
    margin-bottom: 60px;
  }

  .imagem .caixa-mensagem {
    padding: 15px;
  }

  .imagem .caixa-mensagem .titulo {
    font-size: 24px;
  }

  .imagem .caixa-mensagem .texto {
    font-size: 16px;
  }
}

/* Smartphones */
@media (max-width: 480px) {
  .imagem {
    width: 100%;
    margin-bottom: 40px;
  }

  .imagem .caixa-mensagem {
    padding: 10px;
  }

  .imagem .caixa-mensagem .titulo {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .imagem .caixa-mensagem .texto {
    font-size: 14px;
  }
}