<header class="header">
    <app-menu></app-menu>
</header>

<body>
    
    <main>
        <div class="imagem">
            <img class="imagem-fundo" src="https://api-fordenter-qstj.onrender.com/img/ranger.png" alt="">
            <!-- Caixa de mensagem sobre a imagem -->
            <div class="caixa-mensagem">
                <h1 class="titulo">Sistema de Dados da Ford</h1>
                <p class="texto">Seja bem vindo(a)!</p>
            </div>
        </div>
    </main>
</body>

<footer>
    <app-footer></app-footer>
</footer>

