 <body>
  <div class="main-section">
    <div class="container">
      <div class="row">
        <!-- Coluna da Imagem -->
        <div class="image-column">
          <div id="carouselLogin" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="http://localhost:4200/img/fusion.png" class="d-block w-100 login-car" alt="Fusion">
              </div>
              <div class="carousel-item">
                <img src="http://localhost:4200/img/territory.png" class="d-block w-100 login-car" alt="Territory">
              </div>
              <div class="carousel-item">
                <img src="http://localhost:4200/img/mustang.png" class="d-block w-100 login-car" alt="Mustang">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselLogin" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselLogin" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Próximo</span>
            </button>
          </div>
        </div>

        <!-- Coluna do Formulário -->
        <div class="form-column">
          <div class="login">
            <div class="text-center mb-4">
              <h1 class="title">Boas-Vindas</h1>
            </div>
            <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)" class="login-forms">
              <div class="form-floating mb-3 position-relative">
                <input type="text" required #usuario="ngModel" class="input" id="usuario" name="usuario" placeholder="Login" ngModel>
              </div>
              <div class="form-floating mb-3 position-relative">
                <input required #senha="ngModel" type="password" class="input" id="senha" name="senha" placeholder="Senha" ngModel>
              </div>
              <button class="botao-login" [disabled]="loginForm.invalid" type="button" [routerLink]="['/home']">Entrar</button>
            </form>
            <div *ngIf="mensagemDeErro" class="mensagem-erro text-center">
              {{ mensagemDeErro }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>