<div class="contato-container">

  <app-menu></app-menu>

  <main>
    <div>
      <img src="https://api-fordenter-qstj.onrender.com/img/territory.png" class="img-form">
    </div>
    <div class="forms">

      <div class="contato">

          <h2 class="title-h2">Sobre Você</h2>

        <form #form="ngForm" (ngSubmit)="post(form)" novalidate>
          <input type="text" name="nome" placeholder="NOME*" class="fordform" required ngModel>


          <input type="text" name="sobrenome" placeholder="SOBRENOME*" class="fordform" required ngModel>


          <input type="email" name="email" placeholder="E-MAIL*" class="fordform" required ngModel>


          <input type="text" name="cpf" placeholder="CPF*" class="fordform" id="cpfId" required ngModel mask="000.000.000-00">


          <input type="text" name="telefone" placeholder="TELEFONE*" class="fordform" id="telId" required ngModel mask="(00) 00000-0000">


          <select name="tipoContato" class="fordform" required ngModel>
            <option value="" disabled selected>COMO DESEJA SER CONTATADO</option>
            <option value="TELEFONE">TELEFONE</option>
            <option value="EMAIL">E-MAIL</option>
          </select>


          <select name="tipoMensagem" class="fordform" required ngModel>
            <option value="" disabled selected>TIPO DE MENSAGEM</option>
            <option value="RECLAMACAO">RECLAMAÇÃO</option>
            <option value="ELOGIO">ELOGIO</option>
            <option value="SUGESTAO">SUGESTÃO</option>
          </select>


          <textarea name="mensagem" placeholder="MENSAGEM" class="fordform" required ngModel></textarea>


          <p id="termos">
            Os dados serão mantidos em nossa base de dados, só enquanto for desejado por você.
            <br>A qualquer momento, será possível editar ou remover tais dados.
          </p>

          <input type="checkbox" name="termos" required ngModel>
          Sim. Li e concordo com os
          <a href="https://www.ford.com.br/politica-de-privacidade/" id="priv-link">Termos e Condições.</a>
          <br>

          <input type="checkbox" name="newsletter" ngModel>
          Desejo receber novidades e promoções da Ford por e-mail
          <br><br>


          <button type="submit" class="button-send" [disabled]="form.invalid">Enviar</button>
        </form>
      </div>
    </div>
  </main>

  <app-footer></app-footer>
</div>

<div class="modal-backdrop" *ngIf="showSuccessModal">
  <div class="modal">
    <h2>Sucesso</h2>
    <p>Obrigado Sr(a) {{ submittedName }}, os dados foram enviados com sucesso!</p>
    <button (click)="closeModal()">Fechar</button>
  </div>
</div>

<div class="modal-backdrop" *ngIf="showErrorModal">
  <div class="modal">
    <h2>Erro</h2>
    <p>Preencha todos os campos obrigatórios!</p>
    <button (click)="closeModal()">Fechar</button>
  </div>
</div>






