<app-menu></app-menu>

<div class="dashboard-container">
  
  <h2 class="dashboard-title">Dashboard</h2>

  <!-- Seção de seleção de veículo -->
  <div class="vehicle-selection">
    <label for="selectVehicle" class="vehicle-label">Veículo</label>
    <select id="selectVehicle" [(ngModel)]="selectedId" (change)="onSelectChange()" class="vehicle-select">
      <option [value]="''" disabled selected>Selecione Aqui</option>
      <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{ vehicle.vehicle }}</option>
    </select>
  </div>

  <!-- Métricas do veículo selecionado -->
  <div *ngIf="selectedVehicleFromSelect" class="vehicle-metrics">
    <div class="metric-box">
      <h6 class="metric-label">Total de Vendas</h6>
      <h4 class="metric-value">{{ selectedVehicleFromSelect.volumetotal }}</h4>
      <small>Unid.</small>
    </div>
    <div class="metric-box">
      <h6 class="metric-label">Conectados</h6>
      <h4 class="metric-value">{{ selectedVehicleFromSelect.connected }}</h4>
      <small>Unid.</small>
    </div>
    <div class="metric-box">
      <h6 class="metric-label">Atualizações de Software</h6>
      <h4 class="metric-value">{{ selectedVehicleFromSelect.softwareUpdates }}</h4>
      <small>Unid.</small>
    </div>
  </div>

  <!-- Imagem do veículo selecionado -->
  <div *ngIf="selectedVehicleFromSelect" class="vehicle-image-container">
    <img [src]="selectedVehicleFromSelect.img" [alt]="selectedVehicleFromSelect.vehicle" class="vehicle-image">
  </div>

  <!-- Tabela de telemetria fixada na parte inferior -->
  <div class="telemetry-table-container">
    <div class="telemetry-table-wrapper">
      <table class="telemetry-table">
        <thead class="telemetry-table-header">
          <tr>
            <th>Código VIN</th>
            <th>Odômetro</th>
            <th>Combustível</th>
            <th>Status</th>
            <th>Lat.</th>
            <th>Long.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="vin-search-group">
                <input [(ngModel)]="searchVin" class="vin-input" placeholder="Digite o VIN" />
                <button class="vin-search-button" (click)="searchByVin()">Buscar</button>
              </div>
            </td>
            <td>
              {{ selectedVehicleFromSearch?.odometro ? selectedVehicleFromSearch?.odometro + ' Km' : '' }}
            </td>
            <td>
              {{ selectedVehicleFromSearch?.nivelCombustivel ? selectedVehicleFromSearch?.nivelCombustivel + ' %' : '' }}
            </td>
            <td>{{ selectedVehicleFromSearch?.status }}</td>
            <td>{{ selectedVehicleFromSearch?.lat }}</td>
            <td>{{ selectedVehicleFromSearch?.long }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
