.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 15px;
  padding-top: 7%;
  background-color: #efefef;
}

.dashboard-title {
  text-align: center;
  color: rgb(9, 9, 169);
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 28px;
}

.vehicle-selection {
  margin-bottom: 15px;
  width: 170px;
}

.vehicle-label {
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
  margin-left: 50px;
}

.vehicle-select {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  margin-left: 50px;
}

.vehicle-metrics {
  display: flex;
  justify-content: space-around;
  margin: 4px;
}

.metric-box {
  background: #ffffff;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
  width: 13%;
  height: 15%;
  text-align: center;
}

.metric-label {
  color: black;
  margin-bottom: 8px;
  font-size: 15px ;
}

.metric-value {
  color: rgb(9, 9, 169);
  margin: 0;
  font-size: 18px;
}

.vehicle-image-container {
  text-align: center;
  margin-top: 5%;
}

.vehicle-image {
  max-width: 800px;
  width: 500px;
  max-height: 200px;
  height: 190px;
  border-radius: 8px;
}

.telemetry-table-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #efefef;
  box-shadow: 0 -2px 10px rgba(27, 25, 25, 0.362);
  z-index: 1030;
  padding-left: 345px;
}

.telemetry-table-wrapper {
  overflow-x: auto;
  padding: 10px;
  font-size: 15px;
}

.telemetry-table {
  width: 70%;
  border-collapse: collapse;
  text-align: center;
}

.telemetry-table-header{
  background: rgb(11, 99, 222);
}

.telemetry-table th,
.telemetry-table td {
  border: 1px solid black;
  padding: 6px;
}

.vin-search-group {
  display: flex;
  align-items: center;
}

.vin-input {
  flex: 1;
  padding: 4px;
  border: 1px solid black;
  border-radius: 4px 0 0 4px;
}

.vin-search-button {
  padding: 6px 12px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

/*Responsividade*/

@media(max-width: 2000px){
  .dashboard-title{
    margin-top: 10px;
  }

  .vehicle-selection{
    margin-left: 75px;
  }

  .dashboard-container{
    padding: 5px;
  }

  .vehicle-image-container{
    margin-top: 10px;
  }

  .vehicle-image{
    width: 400px
  }
}

@media(max-width: 1080px){
  .dashboard-title{
    margin-top: 15px;
  }
}

@media (max-width: 900px) {
  .dashboard-title{
    margin-top: 15px;
  }
  .metric-box {
    width: 30%;
  }

  .telemetry-table-container {
    padding-left: 20px;
  }

  .vehicle-selection {
    width: 100%;
    max-width: 300px;
  }

  .dashboard-title {
    font-size: 24px;
  }
}

/* Responsivo para celulares */
@media (max-width: 560px) {
  .metric-box {
    width: 100%;
  }

  .vehicle-image {
    width: 100%;
  }

  .vin-input,
  .vin-search-button {
    flex: 1 1 100%;
    border-radius: 4px;
  }

  .vin-search-group {
    flex-direction: column;
  }

  .telemetry-table {
    font-size: 12px;
  }

  .dashboard-title {
    font-size: 20px;
  }
}
